<div class="containerr" ng-controller = "logCtrl">
    <h1 class="display-6 text-center mb-4">Log in</h1>
    <span class="text-center p-0" id="message"></span>
    <br>
    <form name="loginForm" ng-submit="login()" novalidate>
        <!-- Phone Number -->
        <div class="mb-3">
            <input type="text" name="log_phone" id="log_phone" ng-model="user.log_phone"
                   placeholder="Phone number" maxlength="10" required
                   ng-pattern="/^[6-9][0-9]{9}$/">
            <div class="text-danger mt-1" ng-show="loginForm.log_phone.$touched && loginForm.log_phone.$invalid">
                <span ng-show="loginForm.log_phone.$error.required">Phone number is required</span>
                <span ng-show="loginForm.log_phone.$error.pattern">Invalid phone number</span>
            </div>
        </div>

        <!-- Password -->
        <div class="my-3">
            <input type="password" name="log_pw" id="log_pw" ng-model="user.log_pw"
                   placeholder="Password"  required>
            <div class="text-danger mt-1" ng-show="loginForm.log_pw.$touched && loginForm.log_pw.$invalid">
                Password is required
            </div>
        </div>

        <!-- Submit Button -->
        <div class="text-center my-3">
            <button type="submit" class="btn btn-danger px-4" ng-disabled="loginForm.$invalid">
                Submit
            </button>
        </div>
    </form>
    <br>
    <h5 class="text-center mt-3">
        Don't have an account? 
        <button class="btn btn-link register-link"
                ng-click="goRegister()">
            Register
        </button>
    </h5>
    

    <!-- Message Display -->
</div>